main {
  min-height: 100vh;
  .section_1 {
    padding-top: 0;
    background: var(--bg-color);
    // background: var(--second-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    @media screen and (max-width: 1600px) {
      padding: 20px 5%;
    }
    @media screen and (max-width: 1300px) {
      padding: 20px 1%;
    }
    @media screen and (max-width: 1170px) {
      display: block;
      padding: 20px 5%;
      text-align: center;
    }

    .container-photo {
      img {
        width: 100%;
        height: auto; // Permet une hauteur proportionnelle pour maintenir les ratios
        max-width: 550px; // Limite la largeur de l'image pour les écrans larges
        border-radius: 20%;
        object-fit: cover;
        border: 5px solid #1c2452;
        background: radial-gradient(
            at 12.3% 65.3%,
            hsla(250, 96%, 64%, 1) 0%,
            hsla(250, 96%, 64%, 0) 100%
          ),
          radial-gradient(
            at 47.8% 35.6%,
            hsla(162, 98%, 63%, 1) 0%,
            hsla(162, 98%, 63%, 0) 100%
          ),
          radial-gradient(
            at 91.4% 32.4%,
            hsla(250, 96%, 64%, 1) 0%,
            hsla(250, 96%, 64%, 0) 100%
          ),
          radial-gradient(
            at 18.6% 77.7%,
            hsla(162, 98%, 63%, 1) 0%,
            hsla(162, 98%, 63%, 0) 100%
          ),
          radial-gradient(
            at 3.4% 32.1%,
            hsla(250, 96%, 64%, 1) 0%,
            hsla(250, 96%, 64%, 0) 100%
          ),
          radial-gradient(
            at 55.6% 65.4%,
            hsla(162, 98%, 63%, 1) 0%,
            hsla(162, 98%, 63%, 0) 100%
          ),
          radial-gradient(
            at 33.5% 7.3%,
            hsla(250, 96%, 64%, 1) 0%,
            hsla(250, 96%, 64%, 0) 100%
          ),
          radial-gradient(
            at 86.7% 83.3%,
            hsla(162, 98%, 63%, 1) 0%,
            hsla(162, 98%, 63%, 0) 100%
          ),
          radial-gradient(
            at 67.3% 62.4%,
            hsla(250, 96%, 64%, 1) 0%,
            hsla(250, 96%, 64%, 0) 100%
          ),
          radial-gradient(
            at 22.3% 66.9%,
            hsla(162, 98%, 63%, 1) 0%,
            hsla(162, 98%, 63%, 0) 100%
          );

        // Media queries pour la responsivité
        @media screen and (max-width: 1170px) {
          max-width: 450px; // Réduit la largeur maximale pour les écrans intermédiaires
        }

        @media screen and (max-width: 768px) {
          max-width: 300px; // Réduction encore plus pour les tablettes
          border-radius: 15%; // Ajuste les bords arrondis pour un aspect plus compact
        }

        @media screen and (max-width: 700px) {
          display: none;
        }
      }
    }

    .sec1-text {
      margin-top: 150px;

      @media screen and (max-width: 1170px) {
        text-align: left;
        margin-top: 120px;
      }

      .h-line {
        @include hline;
      }

      .h-line-2 {
        @include hline2;
        margin-bottom: 0;
        height: 48px;
        width: 48px;

        &:hover {
          transform: translateY(3px);
          filter: brightness(175%);
        }
      }
      h2 {
        font-size: var(--h2-font);
        margin: 22px 0;
        text-transform: capitalize;
        @include title;

        @media screen and (max-width: 1300px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 900px) {
          font-size: 2.8rem;
        }
      }
      h3 {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 30px;
        line-height: 30px;

        @media screen and (max-width: 900px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 1.1rem;
        }

        span {
          @include bg-repeat;
          font-weight: 900;
          font-family: "switzer-regular";
        }
      }
      p {
        font-size: var(--p-font);
        font-weight: 500;
        line-height: 30px;
        color: var(--ann-color);
        margin-bottom: 35px;

        @media screen and (max-width: 1170px) {
          width: 90%;
          font-size: 1rem;
          line-height: 27px;
        }
        @media screen and (max-width: 550px) {
          line-height: 24px;
        }
      }
      .container-btn {
        min-height: 20vh;
        button {
          display: flex;
          display: block;
          align-items: center;
          overflow: hidden;
          text-transform: capitalize;
          transition: 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: translateY(5px);
            filter: brightness(125%);
          }
        }
        .btn1 {
          @include btn-about;
          border-radius: 17px;
          margin-right: 20px;
          color: var(--text-color);
          background: transparent;

          @media screen and (max-width: 800px) {
            padding: 14px 21px;
          }
        }
        .btn2 {
          @include btn-about;
          border-radius: 17px;
          color: #fff;
          background: radial-gradient(
              at 12.301767042399847% 65.33731710444044%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  1
                )
                0%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  0
                )
                100%
            ),
            radial-gradient(
              at 47.85563595597115% 35.62907383239686%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1)
                0%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0)
                100%
            ),
            radial-gradient(
              at 91.46883984385492% 32.409980805313296%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  1
                )
                0%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  0
                )
                100%
            ),
            radial-gradient(
              at 18.63339504714252% 77.76221122671707%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1)
                0%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0)
                100%
            ),
            radial-gradient(
              at 3.4166047327987448% 32.11962524262473%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  1
                )
                0%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  0
                )
                100%
            ),
            radial-gradient(
              at 55.60759336707153% 65.42694080448577%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1)
                0%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0)
                100%
            ),
            radial-gradient(
              at 33.57474344211979% 7.322168691401676%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  1
                )
                0%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  0
                )
                100%
            ),
            radial-gradient(
              at 86.71115373933999% 83.38445689449576%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1)
                0%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0)
                100%
            ),
            radial-gradient(
              at 67.3899079219457% 62.43942885056821%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  1
                )
                0%,
              hsla(
                  250.75144508670522,
                  96.64804469273744%,
                  64.90196078431373%,
                  0
                )
                100%
            ),
            radial-gradient(
              at 22.348055684246027% 66.96663521188104%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1)
                0%,
              hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0)
                100%
            );

          @media screen and (max-width: 800px) {
            padding: 14px 21px;
          }
        }
      }
    }
  }
}
