
.section_2 {
  margin-top: -130px;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  // background: #202020;

  @media screen and (max-width: 1600px) {
    padding: 100px 3% 80px;
  }

  .title-expert {
    min-height: 19vh;
    display: flex;
    justify-content: left;
    width: 100%;

    h2 {
      @include title;
      font-size: var(--h2-font);

      @media screen and (max-width: 1050px) {
        font-size: 2.8rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 2.5rem;
      }

      span{
        @include bg-repeat;
      }
    }
  }
  .container_skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    position: relative;
    z-index: 10;
        
    @media screen and (max-width: 1355px) {
      width: 100%;
    }
    @media screen and (max-width: 1175px) {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

    }
    @media screen and (max-width: 1065px) {
      width: 80%;
      display: flex;
      flex-direction: column;

    }

    #block {
      max-width: 400px;
      border: 2px solid #fff;
      min-height: 35vh;
      padding: 0px 30px;

      @media screen and (max-width: 1065px) {
        max-width: 350px;
      }
      @media screen and (max-width: 650px) {
        max-height: 30vh;
      }
      @media screen and (max-width: 550px) {
        max-height: 28vh;
      }
    }

    h5 {
      margin-top: 40px;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2em;
      position: relative;

      @media screen and (max-width: 1765px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 1445px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 1005px) {
        font-size: 1.4rem;
      }

      span {
        @include bg-repeat;
      }
    }
    .part2 {
      margin-top: 40px;
      padding: 1px;
      min-height: 25vh;
      position: relative;
      color: #fff;

      &::before {
        content: '<h3>';
        position: absolute;
        color: #ffffff93;
      }

      &::after {
        content: '<h3>';
        position: absolute;
        color: #ffffff93;
      }
      

      p {
        margin-top: 15px;
        line-height: 1.4em;
        font-weight: 400;
        padding-left: 45px;
        font-size: 1.1rem;
        position: relative;

        @media screen and (max-width: 1690px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 1570px) {
          font-size: 0.95rem;
        }
        @media screen and (max-width: 1375px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 550px) {
          font-size: 0.8rem;
          min-height: 0;
          padding-left: 35px;
        }
        // @media screen and (max-width: 1470px) {
        //   font-size: 0.9rem;
        // }

      }
    }
  }
}