#nav {
  position: fixed;
  display: flex;
  z-index: 100;
  min-height: 5vh;
  bottom: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6.5vh;
  border-radius: 25px;
  background: rgb(26, 35, 51);
}
ul {
  .active {
    color: var(--text-color);
  }
  a {
    display: flex;
    font-size: 1.25rem;
    padding: 0.4rem;
    color: var(--other-color);
    margin: 0 15px;
    border-radius: 5rem;
    transition: all 0.6s ease-in-out;

    @media screen and (max-width: 1380px) {
      font-size: 1rem;
    }

    &:hover {
      filter: brightness(120%);
      transform: translateY(3px);
      color: hsl(250, 48%, 64%);
    }
  }
}
.activeLink {
  background: -webkit-linear-gradient(135deg, #45c3fe 0%, #6e4ffc 100%);
  opacity: 0.8;
  box-shadow: 1px 1px 19px hsla(250, 66%, 75%, 0.4);
  border-radius: 5rem;
  color: hsl(219, 15%, 95%);
}
nav {
  position: absolute;
  top: 0px;
  padding: 20px 14%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
  max-height: 18vh;

  @media screen and (max-width: 1380px) {
    padding: 20px 5%;
  }
  .logo {
    object-fit: contain;
    margin-top: 65px;

    @media screen and (max-width: 1380px) {
      transform: scale(1);
      margin-top: 55px;
    }
  }
}

header {
  position: relative;
  min-height: 100vh;
  box-shadow: black;

  .bg-video {
    position: absolute;
    object-fit: cover;
    display: block;
    height: 100vh;
    width: 100%;
    z-index: -1;
    right: 0;

    //  bg video non adapter au web donc si tu change la video tu devras surement refaire les tailles de la video
  }

  .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    h1 {
      @include title;
      margin-top: 240px;
      font-size: 4.5rem;

      @media screen and (max-width: 810px) {
        font-size: 3.5rem;
      }
      @media screen and (max-width: 610px) {
        font-size: 2.5rem;
      }
    }
    h2 {
      font-family: "switzer-regular";
      text-transform: uppercase;

      @media screen and (max-width: 810px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 610px) {
        font-size: 1rem;
      }
    }
    span {
      z-index: 10;
      margin-top: 130px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.17);
      }

      a {
        border: #fff 1px solid;
        color: #fff;
        font-weight: 100;
        @include hline2;
      }
    }
  }
  .box-shadow {
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin-top: -78px;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to bottom, #1a191d00, #121212);
    // background-image: linear-gradient(to bottom, #1a191d00, #202020);
  }
}
